.modalOff {
    display: none;
}

.modalOn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    color: black;
    overflow: scroll;
}