
.hidden {
    display: none;
  }

.globalSearchStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    background-color: #2a657a
}

.tagBG {
    background-color: #e0e9e8;
    color: #2a657a;
    font-weight: bold;
    width: 80vw;
    border-radius: 10px;
    font-size: 1.5rem;
}
.tagList{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.tagButton {
    width: 70vw;
    background-color: #192335;
    height: 8vh;
    border-radius: 20px;
    border: hidden;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 3px black;
    font-size: 1.7rem;
    color: #e0e9e8;
    text-shadow: 1px 1px 2px black;
}

.modalOFF {
    display: none;
}

.modalON {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #e0e9e8;
    color: black;
    overflow: scroll;
   
    
}

.webcamList {
    height: 50vh;
    width: 100vw;
    overflow: scroll;
    
    
}
.webcamButton {
    width: 70vw;
    background-color: #e0e9e8;
    border-radius: 20px;
    border: hidden;
    color: #192335;;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.link:link {
    text-decoration: none;
}